/*--- start navigation bar ---*/
.navbar {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 1.75rem;
  color: #FEF5ED;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand:hover {
  color: #99A799;
}

.nav-item {
  font-size: 1.25rem;
  color: #FEF5ED;
  font-weight: 200;
}

.nav-link {
  font-size: 1.125rem;
  color: #FEF5ED;
  margin-right: .5em;
}

.nav-link:hover {
  color: #99A799;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* end navigation bar */
