body {
  padding: 0;
  margin: 0;
  background-color: #FEF5ED;
}

/* Start Header */
.header {
  background-image: url("images/Image 017.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* start of overlay */
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.6);
}

/* end of overlay */
.description {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -55%);
  text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4.5rem;
  color: #ADC2A9;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 1.5;
  padding-top: 7%;
}

/* End Header */
.container {
  width: 60%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
  color: #222222;
  font-weight: normal;
  text-align: center;
}

/*--- start of footer ---*/
.page-footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #99A799;
  color: #FEF5ED;
  width: 40%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-left: 1%;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  color: #FEF5ED;
}

/*--- end of footer ---*/

/*--- media queries ---*/
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2rem;
  }
